<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"> <meta name="viewport" content="width=device-width, initial-scale=1.0"> <meta http-equiv="X-UA-Compatible" content="ie=edge"> <title>취약점 결과</title> <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- 차트 링크 --> <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

{% block content %}
{% load static%}
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>취약점 결과</title>
  <link href="{% static 'assets/css/pace.min.css'%}" rel="stylesheet"/>
  <script src="{% static 'assets/js/pace.min.js'%}"></script>
  <link rel="icon" href="{% static 'assets/images/favicon.ico'%}" type="image/x-icon">
  <link href="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.css'%}" rel="stylesheet"/>
  <link href="{% static 'assets/plugins/simplebar/css/simplebar.css'%}" rel="stylesheet"/>
  <link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet"/>
  <link href="{% static 'assets/css/animate.css'%}" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="{% static 'assets/css/icons.css'%}" rel="stylesheet" type="text/css"/>
  <!-- Sidebar CSS-->
  <link href="{% static 'assets/css/sidebar-menu.css'%}" rel="stylesheet"/>
  <!-- Custom Style-->
  <link href="{% static 'assets/css/app-style.css'%}" rel="stylesheet"/>
  
</head>

<body class="bg-theme bg-theme1">
 

 <div id="wrapper">
 
  <!--Start sidebar-wrapper-->
   <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
     <div class="brand-logo">
      <a href="index">
       <img src="{% static 'assets/images/logo-icon.png'%}" class="logo-icon" alt="logo icon">
       <h5 class="logo-text">웹 취약점 진단</h5>
     </a>
   </div>
   <ul class="sidebar-menu do-nicescrol">
    <li class="sidebar-header">MAIN NAVIGATION</li>
    <li>
      <a href="crawling_result">
        <i class="zmdi zmdi-view-dashboard"></i> <span>크롤링 데이터</span>
      </a>
    </li>
    <li>
      <a href="result">
        <i class="zmdi zmdi-view-dashboard"></i> <span>취약점 진단 결과</span>
      </a>
    </li>
    <li>
      <a href="solve">
        <i class="zmdi zmdi-view-dashboard"></i> <span>대응방안</span>
      </a>
    </li>
    <li>
      <a href="login" target="_blank">
        <i class="zmdi zmdi-lock"></i> <span>Logout</span>
      </a>
    </li>


  </ul>
   
   </div>
   <!--End sidebar-wrapper-->


<header class="topbar-nav">
 <nav class="navbar navbar-expand fixed-top">
  
</nav>
</header>



    <div class="content-wrapper">
    <div class="container-fluid">

    <div class="container"> 
    <div class="row my-3"> 
    <div class="col-12"> 
    <h4>대응 방안</h4>

    	<div class="card"> 
      <div class="card-body">
      <h3>SQL Injection 대응 방안</h3>
      <ol><h5><li>Prepared Statements</li></h5>
      Prepared Statements 사용시 SQL 쿼리를 선 처리하여 컴파일 한 후, 이후 입력받는 변수 값을 문자열 변수로 다룬다. 
      바인딩 데이터는 SQL 문법이 아닌 내부 인터프리터나 컴파일 언어로 처리하기 때문에 문법적인 효력을 잃게된다.<br><br>
      
      -python-<br>
      connection = mysql.connector.connect(host='localhost',
                             database='python_db',
                             user='kwon',
                             password='kwon123')<br>
      cursor = connection.cursor(prepared=<b>True</b>)
      <br><br>적용법 : connection.curser부분에서 prepared 부분을 True로 지정한다.<br><br>
      -php-<br>
      $test = new PDO(‘mysql:kwon.db’);<br>
      $stmt = $test>prepare(‘SELECT * FROM user WHERE useid = :uid’);<br><br>
      
      출처 - 누구나 쉽게 따라하는 웹 취약점 진단기술 2019
      <br><br>
      <h5><li>확장 프록시저 제거</li></h5>
      MS-SQL 경우 master..xp_cmdshell,xp_startmail,xp_sendmail, sp_makewebtask 확장 프록시저를 제거해야한다.
      <br><br>
      <h5><li>입력값 검증및 특수문자 및 퀘리 예약어 필터링</li></h5>
      DB에 영향을 주는 입력 가능한 부분의 대한 사용자의 입력 값에 SQL 쿼리문이 허용되지 않는 문자열(@variable, print, set, or, union, and, insert, openrowset 등)이나 특수문자(‘\”\\-#()@;=*/+)를 필터링 한다.
      ex) $Input = preg_replace(“/[\r\n\s\t\’\;\”\=\-\-\#\/*]+/”,“”, $Input);
      <br><br>
      <h5><li> 최소 권한 유저로 데이터베이스를 운영</li></h5>
      일반 사용자들의 불필요한 접근을 막도록 데이터베이스의 일반 사용자 권한은 제한한다.
      <br><br>
      <h5><li> 에러 메시지 노출 차단</li></h5>
      에러 메시지 내용에서 데이터베이스나 중요 내부 정보들이 노출될 가능성이 있으므로 차단한다.<br>
      <ul><li>Django 기준으로 setting 파일에서의 DEBUG=True는 개발모드 이므로 DEBUG=False로 수정하여 배포모드로 운영한다.</li>
      <li>handler를 작성한다 <br>
      from django.conf.urls import url, handler404, handler500 <br>
      handler404 = "web_project.views.error404"
      handler500 = "web_project.views.error500"</li>
      <li>뷰작성 <br>
      def error404(request):<br>
      return render(request, "404.html", status=404)
    <br><br>  
      def error500(request):<br>
      return render(request, "500.html", status=500)</li>
      </ul>
      
      </ol>
      </div></div>
      <div class="card"> 
      <div class="card-body">
      
      </div></div>
     </div> </div>
    </div> </div> </div> 

	
      <!--End Dashboard Content-->
	  
	<!--start overlay-->
		  <div class="overlay toggle-menu"></div>
		<!--end overlay-->
		
    </div>
    <!-- End container-fluid-->
    
    </div><!--End content-wrapper-->
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
	
	<!--Start footer-->

	<!--End footer-->
	

   
{% endblock %}

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'assets/js/jquery.min.js'%}"></script>
  <script src="{% static 'assets/js/popper.min.js'%}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
	
 <!-- simplebar js -->
  <script src="{% static 'assets/plugins/simplebar/js/simplebar.js'%}"></script>
  <!-- sidebar-menu js -->
  <script src="{% static 'assets/js/sidebar-menu.js'%}"></script>
  <!-- loader scripts -->
  <script src="{% static 'assets/js/jquery.loading-indicator.js'%}"></script>
  <!-- Custom scripts -->
  <script src="{% static 'assets/js/app-script.js'%}"></script>
  <!-- Chart js -->
  
  <script src="{% static 'assets/plugins/Chart.js/Chart.min.js'%}"></script>
 
  <!-- Index js -->
  <script src="{% static 'assets/js/index.js'%}"></script>

  
</body>
</html>
